<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>New user</title>
</head>

<body>

<!--/*@thymesVar id="user" type=""*/-->
<form th:method="POST" th:action="@{/users}" th:object="${user}">
    <label for="name"> Enter name</label>
    <input type="text" th:field="*{name}" id="name"/>

    <br>

    <label for="lastName"><b>LastName</b></label>
    <input type="text" th:field="*{lastName}" id="lastName"/>

    <br>

    <label for="age"><b>Age</b></label>
    <input type="number" th:field="*{age}" id="age"/>

    <br>

    <label for="email"><b>Email</b></label>
    <input type="text" th:field="*{email}" id="email"/>

    <br>

    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
        <button type="submit" class="registerbtn">Register</button>

<!--    <div class="container signin">-->
<!--        <p>Already have an account? <a href="#">Sign in</a>.</p>-->
<!--    </div>-->
</form>

</body>

</html>